<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <title>KTT-First-Task</title>
</head>
<body>
    <div class="content">
    <header>
        <nav class="navegation" >
            <img class="imagecircular" src="/img/joscelyn.png"  />
            <ul>
                <li class="menu-option"><a href="">Inicio</a></li>
                <hr>
                <li class="menu-option" ><a href="">Menu 1</a></li>
                <li class="menu-option"><a href="">Menu 2</a></li>
                <li class="menu-option"><a href="">Menu 3</a></li>
                <hr>
                <li class="menu-option"><a href="">Menu 4</a></li>
                <li class="menu-option"><a href="">Menu 5</a></li>
            </ul>
              
        </nav>
    </header>
    <section class="header">
      
    </section>
    <section class="container">
      
    </section>
</div>
</body>
</html>