<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <title>KTT-First-Task</title>
</head>
<body>
    <div class="content">
    <header>
        <nav class="navegation" >
            <img class="imagecircular" src="/img/joscelyn.png"  />
            <ul>
                <li class="menu-option"><a href="">Menu option</a></li>
                <hr>
                <li class="menu-option" ><a href="">Menu option</a></li>
                <li class="menu-option"><a href="">Menu option</a></li>
                <li class="menu-option"><a href="">Menu option</a></li>
                <hr>
                <li class="menu-option"><a href="">MMenu option</a></li>
                <li class="menu-option"><a href="">Menu option</a></li>
            </ul>
              
        </nav>
    </header>
    <section class="header">  
        <span class="username">Joscelyn Beatriz Guido de Henriquez</span>    
    </section>
    <section class="container">   
      <div id="main">
       
      </div>
   </section>
</div>
</body>
<script src="js/API.js"></script>
</html>