/*CSS3*/
.content
{
    margin: 0 auto;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navegation
{
    background: #220B03;
    width: 20%;
    max-width: 10%;
    min-width: 20%;
    position: absolute;
    height: 100%;
    border-radius: 0.5em;
    
}
.navegation ul
{
    padding: 40px;    
    list-style:none;
    text-align: center;
    
}

.imagecircular
{
    border-radius: 60%;
    width: 60%;
    margin: 30px 50px 10px;

}

.header
{
    
    width: 80%;
    min-width: auto;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    float:right;
    padding: 60px;
    border-radius: 0.5em;

    
}

.container
{
    padding-top: 50px;
    width: 80%;
    min-width: auto;
    float:right;
    
}

.username
{

    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    text-shadow: 6px 1px 1px #B92D01;
}

#main
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.card
{
    background: #FFF8F5;
    min-height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    color: #220B03;
    border: 0.1em solid #220B03;
   

}

 .menu-option
 {
    padding: 10px 10px;    
    

}
.menu-option a 
{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.menu-option a:hover
{
    color: #E0A65D;
}